@import url('https://fonts.googleapis.com/css?family=El+Messiri&display=swap');

body {
    
   margin:0px;
   padding:0px;
}
header {
    margin : 0px;
    padding :0px;
}
header .toppage{
    width: 100%;
    margin: auto;
    overflow: hidden;
    border-bottom: #3faa3f 4px solid;
    background-color:black;
    background-attachment: fixed;
    
}
header #logo {
    background: url('../image/logo.png')  no-repeat right;
    min-height: 50px;
    background-size:100px;
    margin : 10px;
     block-size: auto;
}
section{
    margin : 0px;
    padding: 0px;
}
section .bkgrnd {
    background: url('../image/BkGr.jpg') no-repeat center;
    min-height: 680px;
    background-size: cover;
    text-align: center; 
    margin:0px;
    opacity: 0.6;
    background-attachment: fixed
}
    

section .contain {
    background-color: rgb(0, 0, 0) ;
    opacity: 0.9;
    margin-left: 13%;
    margin-right: 13%;
    margin-top : 0px;
    max-height:10px;
    min-height: 680px;
    color: white;
}

section  #fitness{
 
    
    alt:"fitness Time";
    padding :0px;
    margin-top: 10%;
    margin-left :10%;
    border:1px solid;
    size :initial;
    float: left;
    
  }
section .hor{
    color: lightslategrey;
    size : 0.2px;
    margin : 5px;
}